@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Play:wght@700&family=Source+Code+Pro:ital,wght@1,300&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Play&family=Source+Code+Pro:ital,wght@1,300&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

a {
  font-weight: 500;
}

p {
  margin-bottom: 0px;
  font-weight: 100;
}

button,
input,
optgroup,
select,
textarea {
  line-height: normal;
}

img,
svg {
  vertical-align: sub;
}

#Carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  width: 100%;
  place-content: center;
  text-align: center;
}

#Carousel video {
  position: absolute;
  z-index: -1;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: black;
}

#Carousel .Text_div {
  height: 700px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

#Carousel .Text_div .Text {
  width: 100%;
}

#Carousel .Text_div .Text h2 {
  width: 90%;
  color: white;
  margin: 0 auto;
}

#Carousel .Text_div .Text p {
  margin: 10px;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

#Carousel .Text_div .Text button {
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: #8F00FF;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  color: white;
}

#Carousel .Text_div .Text button:hover, #Carousel .Text_div .Text button:focus {
  color: #8F00FF;
  border: solid 2px #8F00FF;
  background-color: white;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

#Carousel .Text_div .Text button a:hover {
  color: red;
}

@media (max-width: 836px) {
  #Carousel .Text_div .Text h2 {
    font-size: 30px;
  }
}

#Carousel .Carousel_IMG {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 90%;
}

#Carousel .Carousel_IMG img {
  border: solid 2px red;
  width: 500px;
  height: 500px;
}

@media (max-width: 800px) {
  #Carousel {
    display: block;
  }
  #Carousel .Text_div {
    width: 100%;
    height: 450px;
    text-align: center;
  }
  #Carousel .Carousel_IMG {
    width: 100%;
  }
  #Carousel .Carousel_IMG img {
    width: 300px;
    height: 300px;
  }
}

/* Ofertas */
#Ofertas {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0F0F0;
  padding-bottom: 30px;
  /* square buttons */
  /* round buttons on hover */
  /* hide disabled buttons */
  /* disable default outline on focused items */
  /* add custom outline on focused items */
}

#Ofertas .title {
  text-align: center;
}

#Ofertas .title h2 {
  text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
  color: #8F00FF;
  font-size: 40px;
  padding: 10px;
}

#Ofertas .rec.rec-arrow {
  border-radius: 50%;
  margin: 0 5px;
}

#Ofertas .rec.rec-arrow:hover {
  border-radius: 50%;
}

#Ofertas .rec.rec-arrow:disabled {
  visibility: hidden;
}

#Ofertas .rec-carousel-item:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 1px 1px lightgrey;
          box-shadow: inset 0 0 1px 1px lightgrey;
}
/*# sourceMappingURL=styles-home.css.map */