$primary-color: #8F00FF;

* {
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}

.h2,
h2 {
	font-size: 40px;
}



.title {
	text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
	padding: 5px;
	text-align: center;
	color: $primary-color;
	font-size: 30px;
}


#About-Us {
	background-color: #F0F0F0;
	height: 100%;
	margin-top: 75px;
	padding-bottom: 20px;

	.About_Us_Review{
		border-radius: 15px;
		margin: 50px;
		border: solid 3px $primary-color;
		display: flex;
		box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);

		.img_Box{
			width: 100%;
			text-align: center;

			img{
				width: 100%;
				height: 550px;
			}
		}
		
		.text_Box{
			width: 100%;
			display: grid;
			align-self: center;
			text-align: center;

			p{
				font-size: 40px;
			}
		}
	}


	@media (max-width: 951px){
		.About_Us_Review{
			display: block;

			
		.img_Box{
			img{
				height: 300px;
			}
		}
		}


	}

}


#Reviews {

	.Motion_Div_Reviews {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 15px;
		padding-top: 10px;
		opacity: 0;
	}

	.ReviewCard {
		border-radius: 25px;
		padding: 50px 60px 10px 40px;
		background-color: white;
		width: 80%;
		text-align: center;
		border: solid 3px $primary-color;
		box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
		align-self: center;
		justify-self: center;


		.Text {
			text-align: left;
			height: 120px;
			color: black;
			text-shadow: none;
		}

		.Photo {
			display: flex;
		}

		.Photo img {
			width: 80px;
			height: 80px;
			border: solid 3px $primary-color;
			border-radius: 50px;
			margin-right: 20px;
			cursor: pointer;
			box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);

			&:hover {
				filter: brightness(80%);
				transition: 0.3s ease;

			}
		}

		.Name_Job {
			text-align: left;
			margin-top: 8px;
			color: black;
			text-shadow: none;

			h3 {
				font-size: 23px;
			}

			p {
				white-space: pre-wrap;
			}

		}
	}
}



/* About Us */

/* Ubication */
#Ubication {
	background-color: #F0F0F0;
	height: 100%;
	padding-bottom: 20px;
}

.MapContainer {
	display: grid;
	place-items: center;
	margin: 0 auto;
	width: 80%;
	height: 450px;
}



@media (max-width: 990px) {
	#About-Us {
		.squares-section {
			grid-template-columns: 1fr 1fr;
			gap: 10px;
		}
	}

	@media (max-width: 655px) {
		#About-Us {
			.squares-section {
				grid-template-columns: 1fr;
			}
		}
	}
}


@media (max-width: 1568px) {


	#Reviews .Motion_Div_Reviews {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 1042px) {
		#Reviews .Motion_Div_Reviews {
			grid-template-columns: 1fr;
		}

		@media (max-width: 540px) {

			#Reviews .Motion_Div_Reviews .ReviewCard {
				padding: 50px 25px 10px 25px;
			}

			.Photo {
				margin-top: 50px;
			}

			.Text {
				p {
					font-size: 15px;
					overflow: hidden;
				}
			}
		}
	}

}