@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Play:wght@700&family=Source+Code+Pro:ital,wght@1,300&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Play&family=Source+Code+Pro:ital,wght@1,300&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

a {
  font-weight: 500;
}

p {
  margin-bottom: 0px;
  font-weight: 100;
}

button, input, optgroup, select, textarea {
  line-height: normal;
}

img, svg {
  vertical-align: sub;
}

#Carousel {
  margin-top: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../pages/imgs/fondo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Carousel .Text {
  color: white;
  height: 700px;
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.409);
}

#Carousel .Text h2 {
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 536px) {
  #Carousel h2 {
    font-size: 30px;
  }
}

#Carousel .Images {
  height: 700px;
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.409);
}

/* Ofertas */
#Ofertas {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0F0F0;
  padding-bottom: 30px;
}

#Ofertas .title {
  text-align: center;
}

#Ofertas .title h2 {
  text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
  color: #8F00FF;
  font-size: 40px;
  padding: 10px;
}

#Ofertas .Ofertas-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

#Ofertas .sale {
  width: 250px;
  height: 370px;
  text-align: center;
  margin: 0 auto;
  background: white;
  border-radius: 0.4em;
  -webkit-box-shadow: 0.3em 0.3em 0.7em #00000015;
          box-shadow: 0.3em 0.3em 0.7em #00000015;
  border: #fafafa 0.2em solid;
}

#Ofertas .sale:hover {
  border: #8F00FF 0.2em solid;
  -webkit-transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sale img {
  width: 80%;
  height: 60%;
  margin-top: 15px;
  border: solid 2px #8F00FF;
  border-radius: 10px;
}

.sale .info h2 {
  color: #8F00FF;
  font-size: 30px;
}

.sale .info h4 {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.sale .info .oferta {
  color: black;
  font-size: 15px;
}

.sale .info .PrecioNormal {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.sale label {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 3px 30px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #8F00FF;
  background: transparent;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #8F00FF;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 0 #931deeab;
          box-shadow: inset 0 0 0 0 #931deeab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sale label:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #931deeab;
          box-shadow: inset 0 -100px 0 0 #931deeab;
}

.sale label:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.Catalogo-button {
  padding-top: 30px;
  text-align: center;
}

.Catalogo-button #Catalogo_Label {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: solid #8F00FF 2px;
}

.Catalogo-button #Catalogo_Label p {
  color: #8F00FF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
}

.Catalogo-button #Catalogo_Label:hover {
  -webkit-box-shadow: 0px 5px 5px #8F00FF;
          box-shadow: 0px 5px 5px #8F00FF;
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.Catalogo-button #Catalogo_Label:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.modal-content {
  border: solid 2px #8F00FF;
}

.modal-content .close {
  color: #8F00FF;
  width: 8%;
  border: solid #8F00FF 2px;
  background-color: white;
  border-radius: 10px;
}

.modal-content .close span {
  font-size: 30px;
}

.modal-content .modal-header {
  border-bottom: solid 2px #8F00FF;
  padding: 0.3rem 1rem;
}

.modal-content .modal-title {
  margin: 0 auto;
  color: #8F00FF;
  text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
}

.modal-content .modal-body {
  text-align: center;
}

.modal-content .modal-body img {
  width: 130px;
}

.modal-content .modal-footer {
  margin: 0 auto;
}

.modal-content .modal-footer button {
  color: #8F00FF;
  font-weight: 900;
  background-color: white;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border: 2px solid #8F00FF;
  border-radius: 10px;
}

.modal-content .modal-footer button:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #931deeab;
          box-shadow: inset 0 -100px 0 0 #931deeab;
  border: 2px solid #8F00FF;
}

@media (max-width: 1145px) {
  #Ofertas .Ofertas-section {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 874px) {
  #Ofertas .Ofertas-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 570px) {
  #Ofertas .Ofertas-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* Ofertas */
/*# sourceMappingURL=styles-home.css.map */