$primary-color: #8F00FF;

html {
	min-height: 100%;
	position: relative;
}

*:focus {
	outline: none;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}




/*CATALOGO*/
#Catalogo {
	background-color: #F0F0F0;
	height: 100%;
	margin-top: 75px;
	padding-bottom: 10px;

	.title {
		padding: 5px;
		text-align: center;
		color: $primary-color;
		font-size: 30px;
		text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
	}

	.input {
		outline: none !important;
		text-align: center;
		height: 80px;

		input {
			margin-top: 13px;
			width: 60%;
			height: 60%;
			border-radius: 5px;
			border: solid 2px $primary-color;
			font-size: 25px;
			padding-left: 10px;
			color: grey;
		}
	}

	.Catalogo-section {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		min-height: 330px;
		width: 70%;
		margin: 0 auto;
	
		.sale {
			width: 250px;
			height: 370px;
			text-align: center;
			margin: 0 auto;
			background: rgb(255, 255, 255);
			border-radius: 0.4em;
			box-shadow: 0.3em 0.3em 0.7em #00000015;
			border: rgb(250, 250, 250) 0.2em solid;
		}

		.sale:hover {
			border: $primary-color 0.2em solid;
			transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}
}



.filtro {
	display: none;
}

.Catalogo-section {
	.sale-item {

		padding: 5px 5px;

		.sale {
			img {
				width: 70%;
				margin-top: 15px;
			}
		}
	}
}

.sale {
	.info {
		h2 {
			color: $primary-color;
		}

		p {
			font-size: 20px;
			font-weight: bold;
		}
	}
}


.buy-title-form{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;

	p{
		font-size: 37px;
		font-weight: 800;
	}

	span img{
		margin-top: -2px;
		text-align: center;
	}
}

form {

	.name-last {
		text-align: start;

		p {
			font-size: 20px;
		}

		input {
			padding-left: 10px;
			border: solid 2px $primary-color;
			border-radius: 30px;
			height: 30px;
			width: 95%;
			font-size: 20px;
		}
		
	}

	.creditcard-info {
		text-align: start;
		margin-top: 5px;

		p {
			font-size: 20px;
		}


		input {
			padding-left: 10px;
			border: solid 2px $primary-color;
			border-radius: 30px;
			height: 30px;
			margin-top: 5px;
			width: 95%;
			font-size: 20px;
		}

		.expi-ccv {
			display: flex;
			gap: 10px;

			input {
				width: 46.5%;
			}
		}

	}

	.email {
		margin-top: 1px;
	}

	.direction {
		margin-top: 1px;
	}



	.buy-btn {

		text-align: center;

		button {
			margin-top: 10px;
			padding: 7px 10px;
			background-color: $primary-color;
			color: white;
			font-size: 15px;
			border: none;
			border-radius: 10px;
			font-size: 20px;
		}

		button:hover {
			color: $primary-color;
			background-color: white;
			border: solid 2px $primary-color;
			transition: 0.3s ease;
		}
	}

	.modal-footer{
		
		label{
			color: #8F00FF;
    		font-weight: 900;
    		background-color: white;
    		transition: ease-out 0.5s;
   		 	border: 2px solid #8F00FF;
   			border-radius: 10px;
		}

		label:hover {
			color: $primary-color;
			background-color: white;
			border: solid 2px $primary-color;
			transition: 0.3s ease;
		}
	}

	.Comboboxes {
		margin-bottom: 5px;

		label {
			font-size: 20px;
			margin-right: 10px;
		}

		input,select {
			border: solid 2px $primary-color;
			border-radius: 10px;
			color: $primary-color;
			font-size: 18px;
			height: 30px;
			text-align: center;
			width: 70px;
			margin-right: 10px;
		}
	}


}




@media (max-width: 1535px) {
	#Catalogo .Catalogo-section {
		height: 100%;
	}
}


/*CATALOGO*/