#Error404_Div{
    margin-top: 50px;
    background-color: rgb(50, 50, 50);
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
	text-align: center;
    
    img{
        margin: 0 auto;
        max-width: 500px;
        width: 100vw;
        height: 400px;
    }

    h1{
        color: white;
    }

    span{
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    button{
        border: none;
        padding: 5px 5px;
        border-radius: 5px;
        background-color: red;
        color: white;
        font-size: 20px;
    }
}