@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Play:wght@700&family=Source+Code+Pro:ital,wght@1,300&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Play&family=Source+Code+Pro:ital,wght@1,300&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

a {
  font-weight: 500;
}

p {
  margin-bottom: 0px;
  font-weight: 100;
}

button,
input,
optgroup,
select,
textarea {
  line-height: normal;
}

img,
svg {
  vertical-align: sub;
}

#Carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  width: 100%;
  background-color: #202020;
  place-content: center;
  text-align: center;
}

#Carousel .Text_div {
  height: 700px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

#Carousel .Text_div .Text {
  width: 100%;
}

#Carousel .Text_div .Text h2 {
  width: 90%;
  color: white;
  margin: 0 auto;
}

#Carousel .Text_div .Text p {
  margin: 10px;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

#Carousel .Text_div .Text button {
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: #8F00FF;
  color: white;
  border-radius: 10px;
  font-size: 30px;
}

#Carousel .Text_div .Text button:hover, #Carousel .Text_div .Text button:focus {
  color: #8F00FF;
  border: solid 2px #8F00FF;
  background-color: white;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

#Carousel .Text_div .Text button a {
  color: red;
}

@media (max-width: 836px) {
  #Carousel .Text_div .Text h2 {
    font-size: 30px;
  }
}

#Carousel .Carousel_IMG {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 90%;
}

#Carousel .Carousel_IMG img {
  border: solid 2px red;
  width: 500px;
  height: 500px;
}

@media (max-width: 800px) {
  #Carousel {
    display: block;
  }
  #Carousel .Text_div {
    width: 100%;
    height: 450px;
    text-align: center;
  }
  #Carousel .Carousel_IMG {
    width: 100%;
  }
  #Carousel .Carousel_IMG img {
    width: 300px;
    height: 300px;
  }
}

/* Ofertas */
#Ofertas {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0F0F0;
  padding-bottom: 30px;
  /* square buttons */
  /* round buttons on hover */
  /* hide disabled buttons */
  /* disable default outline on focused items */
  /* add custom outline on focused items */
}

#Ofertas .title {
  text-align: center;
}

#Ofertas .title h2 {
  text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
  color: #8F00FF;
  font-size: 40px;
  padding: 10px;
}

#Ofertas .rec.rec-arrow {
  border-radius: 50%;
  margin: 0 5px;
}

#Ofertas .rec.rec-arrow:hover {
  border-radius: 50%;
}

#Ofertas .rec.rec-arrow:disabled {
  visibility: hidden;
}

#Ofertas .rec-carousel-item:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 1px 1px lightgrey;
          box-shadow: inset 0 0 1px 1px lightgrey;
}

#Ofertas .sale {
  width: 250px;
  height: 370px;
  text-align: center;
  margin: 0 auto;
  background: white;
  border-radius: 0.4em;
  -webkit-box-shadow: 0.3em 0.3em 0.7em #00000015;
          box-shadow: 0.3em 0.3em 0.7em #00000015;
  border: #fafafa 0.2em solid;
}

#Ofertas .sale:hover {
  border: #8F00FF 0.2em solid;
  -webkit-transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sale img {
  width: 80%;
  height: 60%;
  margin-top: 15px;
  border: solid 2px #8F00FF;
  border-radius: 10px;
}

.sale .info h2 {
  color: #8F00FF;
  font-size: 30px;
}

.sale .info h4 {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.sale .info .oferta {
  color: black;
  font-size: 15px;
}

.sale .info .PrecioNormal {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.sale label {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 3px 30px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #8F00FF;
  background: transparent;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #8F00FF;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 0 #931deeab;
          box-shadow: inset 0 0 0 0 #931deeab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sale label:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #931deeab;
          box-shadow: inset 0 -100px 0 0 #931deeab;
}

.sale label:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.Catalogo-button {
  padding-top: 30px;
  text-align: center;
}

.Catalogo-button #Catalogo_Label {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: solid #8F00FF 2px;
}

.Catalogo-button #Catalogo_Label p {
  color: #8F00FF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
}

.Catalogo-button #Catalogo_Label:hover {
  -webkit-box-shadow: 0px 5px 5px #8F00FF;
          box-shadow: 0px 5px 5px #8F00FF;
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.Catalogo-button #Catalogo_Label:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.modal-content {
  border: solid 2px #8F00FF;
}

.modal-content .close {
  color: #8F00FF;
  width: 8%;
  border: solid #8F00FF 2px;
  background-color: white;
  border-radius: 10px;
}

.modal-content .close span {
  font-size: 30px;
}

.modal-content .modal-header {
  border-bottom: solid 2px #8F00FF;
  padding: 0.3rem 1rem;
}

.modal-content .modal-title {
  margin: 0 auto;
  color: #8F00FF;
  text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
}

.modal-content .modal-body {
  text-align: center;
}

.modal-content .modal-body .carousel .thumb img {
  width: 70px;
  height: 75px;
}

.modal-content .modal-body .carousel .slider-wrapper {
  width: 250px;
  height: 275px;
}

.modal-content .modal-footer {
  margin: 0 auto;
}

.modal-content .modal-footer button {
  color: #8F00FF;
  font-weight: 900;
  background-color: white;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border: 2px solid #8F00FF;
  border-radius: 10px;
}

.modal-content .modal-footer button .spinner {
  -webkit-animation: spin infinite 1.5s linear;
          animation: spin infinite 1.5s linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.modal-content .modal-footer button:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #931deeab;
          box-shadow: inset 0 -100px 0 0 #931deeab;
  border: 2px solid #8F00FF;
}

@media (max-width: 1145px) {
  #Ofertas .Ofertas-section {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 874px) {
  #Ofertas .Ofertas-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 570px) {
  #Ofertas .Ofertas-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* Ofertas */
/*# sourceMappingURL=styles-home.css.map */