html {
  min-height: 100%;
  position: relative;
}

*:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

/*CATALOGO*/
#Catalogo {
  background-color: #F0F0F0;
  height: 100%;
  margin-top: 75px;
  padding-bottom: 10px;
}

#Catalogo .title {
  padding: 5px;
  text-align: center;
  color: #8F00FF;
  font-size: 30px;
  text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
}

#Catalogo .input {
  outline: none !important;
  text-align: center;
  height: 80px;
}

#Catalogo .input input {
  margin-top: 13px;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  border: solid 2px #8F00FF;
  font-size: 25px;
  padding-left: 10px;
  color: grey;
}

#Catalogo .Catalogo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 330px;
  width: 70%;
  margin: 0 auto;
}

#Catalogo .Catalogo-section .loader {
  --clr: #8F00FF;
  /* color of spining  */
  width: 150px;
  height: 150px;
  position: relative;
}

#Catalogo .Catalogo-section .loader:before,
#Catalogo .Catalogo-section .loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--clr);
}

#Catalogo .Catalogo-section .loader:before {
  z-index: 1;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
}

#Catalogo .Catalogo-section .loader:after {
  border: 10px solid #ccc;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#Catalogo .Catalogo-section .sale {
  width: 250px;
  height: 370px;
  text-align: center;
  margin: 0 auto;
  background: white;
  border-radius: 0.4em;
  -webkit-box-shadow: 0.3em 0.3em 0.7em #00000015;
          box-shadow: 0.3em 0.3em 0.7em #00000015;
  border: #fafafa 0.2em solid;
}

#Catalogo .Catalogo-section .sale:hover {
  border: #8F00FF 0.2em solid;
  -webkit-transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.filtro {
  display: none;
}

.Catalogo-section .sale-item {
  padding: 5px 5px;
}

.Catalogo-section .sale-item .sale img {
  width: 70%;
  margin-top: 15px;
}

.sale .info h2 {
  color: #8F00FF;
}

.sale .info p {
  font-size: 20px;
  font-weight: bold;
}

.buy-title-form {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buy-title-form p {
  margin-bottom: 5px;
  font-size: 25px;
  margin-right: 43px;
  font-weight: 800;
}

.buy-title-form span img {
  margin-top: -2px;
  text-align: center;
}

form .name-last {
  text-align: start;
}

form .name-last p {
  font-size: 20px;
}

form .name-last input {
  padding-left: 10px;
  border: solid 2px #8F00FF;
  border-radius: 30px;
  height: 30px;
  width: 95%;
  font-size: 20px;
}

form .creditcard-info {
  text-align: start;
  margin-top: 5px;
}

form .creditcard-info p {
  font-size: 20px;
}

form .creditcard-info input {
  padding-left: 10px;
  border: solid 2px #8F00FF;
  border-radius: 30px;
  height: 30px;
  margin-top: 5px;
  width: 95%;
  font-size: 20px;
}

form .creditcard-info .expi-ccv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

form .creditcard-info .expi-ccv input {
  width: 46.5%;
}

form .email {
  margin-top: 1px;
}

form .direction {
  margin-top: 1px;
}

form .buy-btn {
  text-align: center;
}

form .buy-btn button {
  margin-top: 10px;
  padding: 7px 10px;
  background-color: #8F00FF;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

form .buy-btn button:hover {
  color: #8F00FF;
  background-color: white;
  border: solid 2px #8F00FF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

form .Comboboxes {
  margin-bottom: 5px;
}

form .Comboboxes label {
  font-size: 20px;
  margin-right: 10px;
}

form .Comboboxes input, form .Comboboxes select {
  border: solid 2px #8F00FF;
  border-radius: 10px;
  color: #8F00FF;
  font-size: 18px;
  height: 30px;
  text-align: center;
  width: 10%;
  margin-right: 10px;
}

@media (max-width: 1535px) {
  #Catalogo .Catalogo-section {
    height: 100%;
  }
}

/*CATALOGO*/
/*# sourceMappingURL=styles-catalogo.css.map */