$primary-color: #8F00FF;

html {
	min-height: 100%;
	position: relative;
}

*:focus {
	outline: none;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}




/*CATALOGO*/


#Catalogo {
	background-color: #F0F0F0;
	height: 100%;
	margin-top: 75px;
	padding-bottom: 10px;

	.title {
		padding: 5px;
		text-align: center;
		color: $primary-color;
		font-size: 30px;
		text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
	}

	.input {
		outline: none !important;
		text-align: center;
		height: 80px;

		input {
			margin-top: 13px;
			width: 60%;
			height: 60%;
			border-radius: 5px;
			border: solid 2px $primary-color;
			font-size: 25px;
			padding-left: 10px;
			color: grey;
		}
	}

	.ButtonDiv {
		text-align: center;
		margin: 0 0 10px 0;

		button {
			padding: 10px 30px;
			margin: 0 10px;
			border-radius: 50px;
			border: 0;
			background-color: white;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			font-size: 15px;
			transition: all .5s ease;
		}


		@media (max-width: 941px) {
			button {
				margin: 5px 5px;
			}
		}

		button:hover {
			letter-spacing: 3px;
			background-color: $primary-color;
			color: hsl(0, 0%, 100%);
			box-shadow: rgb(81, 22, 190) 0px 7px 15px 0px;
		}

	}

	.Productos_Catalogo_Div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		min-height: 330px;
		width: 70%;
		margin: 0 auto;

		.sale {
			width: 250px;
			height: 370px;
			text-align: center;
			margin: 0 auto;
			background: rgb(255, 255, 255);
			border-radius: 0.4em;
			box-shadow: 0.3em 0.3em 0.7em #00000015;
			border: rgb(250, 250, 250) 0.2em solid;
		}

		.sale:hover {
			border: $primary-color 0.2em solid;
			transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}
}



.filtro {
	display: none;
}

.Catalogo-section {
	.sale-item {

		padding: 5px 5px;

		.sale {
			img {
				width: 85%;
				margin-top: 15px;
			}
		}
	}
}




.sale {
	width: 250px;
	height: 370px;
	text-align: center;
	margin: 0 auto;
	background: rgb(255, 255, 255);
	border-radius: 0.4em;
	box-shadow: 0.3em 0.3em 0.7em #00000015;
	border: rgb(250, 250, 250) 0.2em solid;

	&:hover {
		border: $primary-color 0.2em solid;
		transition: border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	img {
		width: 80%;
		height: 60%;
		margin-top: 15px;
		border: solid 2px $primary-color;
		border-radius: 10px;
	}

	.info {
		h2 {
			color: $primary-color;
			font-size: 30px;
		}

		h4 {
			font-size: 20px;
			font-weight: bold;
			color: red;
		}


		.oferta {
			color: black;
			font-size: 15px;
		}

		.PrecioNormal {
			font-size: 20px;
			font-weight: bold;
			color: black;
		}


	}

	label {
		position: relative;
		display: inline-block;
		margin: 5px;
		padding: 3px 30px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 1px;
		text-decoration: none;
		color: $primary-color;
		background: transparent;
		cursor: pointer;
		transition: ease-out 0.5s;
		border-radius: 30px;
		border: 2px solid $primary-color;
		border-radius: 10px;
		box-shadow: inset 0 0 0 0 #931deeab;
		user-select: none;

		&:hover {
			color: white;
			box-shadow: inset 0 -100px 0 0 #931deeab;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}


.Catalogo-button {
	padding-top: 30px;
	text-align: center;

	#Catalogo_Label {
		padding: 1.3em 3em;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-weight: 500;
		color: #000;
		background-color: #fff;
		border: none;
		border-radius: 45px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		outline: none;
		border: solid $primary-color 2px;
	}

	#Catalogo_Label p {
		color: $primary-color;
		text-decoration: none;
		font-size: 20px;
		font-weight: 800;
	}

	#Catalogo_Label:hover {
		box-shadow: 0px 5px 5px $primary-color;
		color: #fff;
		transform: translateY(-5px);
	}

	#Catalogo_Label:active {
		transform: translateY(-5px);
	}
}




.modal-content {
	border: solid 2px $primary-color;

	.close {
		color: $primary-color;
		width: 8%;
		border: solid $primary-color 2px;
		background-color: white;
		border-radius: 10px;

		span {
			font-size: 30px;
		}
	}

	.modal-header {
		border-bottom: solid 2px $primary-color;
		padding: 0.3rem 1rem;
		text-align: center;
	}

	.modal-title {
		margin: 0 auto;
		color: $primary-color;
		text-shadow: 0px 2px 4px rgba(145, 145, 145, 0.89);
	}

	.modal-body {

		text-align: center;

		.Attributes {
			p{
				font-size: 20px;
				font-weight: bold;
			}
		}

		$details-padding: 0.5em;


		details {
			font-size: 1rem;
			margin: 0 auto;
			text-align: start;

			box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
				0 10px 10px -5px rgba(0, 0, 0, 0.04);
			width: 100%;
			background: white;
			border: solid $primary-color 2px;
			border-radius: 8px;
			position: relative;
			width: 100%;
			margin-bottom: 7px;

			.summary-title {
				user-select: none;
				text-transform: uppercase;
			}

			&:hover {
				cursor: pointer;
			}

			.summary-content {
				border-top: 1px solid #d7d7d7;
				cursor: default;
				padding: $details-padding;
				font-weight: 100;
			}

			summary {
				list-style: none;
				padding: $details-padding;

				&:focus {
					outline: none;
				}

				&:hover .summary-chevron-up svg {
					opacity: 1;
				}

			}

			.summary-chevron-up svg {
				opacity: 0.5;
			}

			.summary-chevron-up,
			.summary-chevron-down {
				pointer-events: none;
				position: absolute;
				top: 0.55em;
				right: $details-padding;
				background: #ffffff;

				svg {
					display: block;
				}
			}

			summary::-webkit-details-marker {
				display: none;
			}




		}






		.carousel .slider-wrapper {
			width: 250px;
			height: 275px;
		}

		.carousel .thumb img {
			width: 70px;
			height: 75px;
		}

	}





	.modal-footer {
		margin: 0 auto;

		button {
			color: $primary-color;
			font-weight: 900;
			background-color: white;
			transition: ease-out 0.5s;
			border: 2px solid $primary-color;
			border-radius: 10px;

			.spinner {
				animation: spin infinite 1.5s linear;
			}

			@keyframes spin {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(360deg);
				}
			}


			&:hover {
				color: white;
				box-shadow: inset 0 -100px 0 0 #931deeab;
				border: 2px solid $primary-color;
			}
		}
	}

}

.buy-title-form {
	margin-bottom: 5px;
	display: flex;
	justify-content: center;

	p {
		font-size: 37px;
		font-weight: 800;
	}

}


.modal-img {
	img {
		width: 60%;
	}
}



form {


	.Radio_colors {

		.Color_div {
			display: flex;
			justify-content: space-evenly;

			.input-hidden {
				display: none;
			}

			input[type=radio]:hover+label>img {
				border: $primary-color 0.2em solid;
				transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			input[type=radio]:checked+label>img {
				border: $primary-color 0.2em solid;
				transition: border 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			img {
				width: 100px;
				height: 100px;
			}
		}

	}

	.ComboBoxes {
		margin-top: 15px;

		label {
			padding-right: 5px;
		}

		select,
		input {
			border: 2px solid #8f00ff;
			border-radius: 5px;
			color: #8f00ff;
			font-size: 18px;
			height: 30px;
			margin-right: 10px;
			text-align: center;
			width: 70px;
		}
	}

	.name-last {
		text-align: start;

		p {
			font-size: 20px;
		}

		input {
			padding-left: 10px;
			border: solid 2px $primary-color;
			border-radius: 5px;
			height: 30px;
			width: 95%;
			font-size: 20px;
		}

	}

	.creditcard-info {
		text-align: start;
		margin-top: 5px;

		p {
			font-size: 20px;
		}


		input {
			padding-left: 10px;
			border: solid 2px $primary-color;
			border-radius: 5px;
			height: 30px;
			margin-top: 5px;
			width: 95%;
			font-size: 20px;
		}

		.expi-ccv {
			display: flex;
			gap: 10px;
			text-align: start;

			input {
				width: 46.5%;
				min-width: 100px;
			}
		}

	}

	.email {
		margin-top: 1px;
	}

	.direction {
		margin-top: 1px;
	}




	.modal-footer {

		label {
			color: #8F00FF;
			font-weight: 900;
			background-color: white;
			transition: ease-out 0.5s;
			border: 2px solid #8F00FF;
			border-radius: 10px;
		}

		label:hover {
			color: $primary-color;
			background-color: white;
			border: solid 2px $primary-color;
			transition: 0.3s ease;
		}
	}


}



@media (max-width: 1535px) {
	#Catalogo .Catalogo-section {
		height: 100%;
	}
}


/*CATALOGO*/